/* variaveis */
:root{
    --hue_color: 250;
    --main_color:hsl(var(--hue_color),69%,61%);
    --main_color_lighter:hsl(var(--hue_color),98%,82%);
    --main_color_darker:hsl(var(--hue_color),40%,30%);
}

/* setar propriedades padrões */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:none;
}
body{
    z-index: 0;
    background-color: rgb(143, 143, 143);
}
/* header inteiro */
.nav-container{
    z-index:1;

    display: flex;
    align-items: center;
    justify-content: space-around;

    max-width: 80rem;
    height: 4rem;

    margin: 0 auto;
    padding: 0 25px;
    background-color: hsl(0, 0%, 26%);
}

/* logo */
h1{
    z-index: 2;

    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
}
/* Botão */
.hamburger{
    z-index: 2;
    display: block;
    position: relative;
    
    user-select: none;
    
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.hamburger span{
    z-index: 2;
    
    display: block;
    
    position: relative;
    width: 33px;
    height: 4px;
    
    margin-bottom: 5px;
    background-color: #c5c5c5;
    border-radius: 6px;
    
    transform-origin: 0 0;
    
    transition: 0.4s;
}
.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: #FFF;
}
.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
    opacity:-0;
    transform:translateX(15px)
}
.hamburger.is-active:hover span{
    background-color: #FFF;
}
.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

/* Menu de navegação (tentando arrumar o botão)*/
.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin:0 -16px;
    padding: 10px; 
}
.menu a{
    color:#FFF;
    margin: 0 16px;
    text-decoration: none;
    transition: 0.4s;

}
.menu-is-active{
    z-index: 2;
    
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    
    position: fixed;
    height: 100vh;


    inset: 64px 0 0 40%;
    background: hsla(0, 0%, 100%, 0.103);
    backdrop-filter: blur(.1rem);

    padding: 0 10px;
}
.menu-is-active a{
    z-index: 2;
    margin: auto;
    position:relative;
    top: -32px;
    display: block;    
    
}

.menu a.is-active, .menu a:hover{
    border: 2px solid var(--main_color_darker);
    background-color: rgb(187, 187, 187);
    padding: 20px 40px;
}

/* Responsividade */
@media (min-width: 768px){
    .hamburger{
        display:none;
    }
    
    .menu{
        display: flex;

    }
}