@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* variaveis */
:root{
    --hue_color: 250;
    --main_color:hsl(var(--hue_color),69%,61%);
    --main_color_lighter:hsl(var(--hue_color),98%,82%);
    --main_color_darker:hsl(var(--hue_color),40%,30%);
}

/* setar propriedades padrões */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;
}

body{
    z-index: 0;
    background-color: rgb(138, 138, 138);
}
/* header inteiro */
.nav-container{
    z-index:1;

    display: flex;
    align-items: center;
    justify-content: space-around;

    max-width: 80rem;
    height: 6rem;

    margin: 0 auto;
    padding: 0 25px;
}

/* logo */
.titulo{
    z-index: 2;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight:200;
    font-size: 36px;
    line-height: 46px;
    align-items: center;
    text-align: start;
    letter-spacing: .7rem;
    

color: #000000;

text-shadow: rgba(0, 0, 0, .8) 0px 4px 4px;
}
.titulo p:nth-child(1){
    font-size: 50px;
}
/* Botão */
.hamburger{
    z-index: 2;
    display: block;
    position: relative;
    
    user-select: none;
    
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.hamburger span{
    z-index: 2;
    
    display: block;
    
    position: relative;
    width: 33px;
    height: 4px;
    
    margin-bottom: 5px;
    background-color: #000000;
    border-radius: 6px;
    
    transform-origin: 0 0;
    
    transition: 0.4s;
}
.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: rgb(0, 0, 0);
}
.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
    opacity:-0;
    transform:translateX(15px)
}
.hamburger.is-active:hover span{
    background-color: rgb(0, 0, 0);
}
.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

/* Menu de navegação (tentando arrumar o botão)*/
.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin:0 -16px;
    padding: 10px; 
}
.menu a{
    
    margin: 0 16px;
    text-decoration: none;
    transition: 0.4s;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 275;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.225em;

    color: #000000;

    text-shadow: rgba(0, 0, 0, .8) 0px 4px 4px;
}

.menu-is-active{
    z-index: 2;
    
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    
    position: fixed;
    height: 100vh;


    inset: 64px 0 0 40%;
    background: hsla(0, 0%, 95%, 0.103);
    backdrop-filter: blur(.1rem);

    padding: 0 10px;
}
.menu-is-active a{
    z-index: 2;
    margin: auto;
    position:relative;
    top: -32px;
    display: block;    
    
}

.menu a.is-active, .menu a:hover{

    color: rgb(255, 223, 39);

}
.bem-vindo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    padding: 200px 0px;

    
}
.bem-vindo :nth-child(1){
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 72px;
text-align: center;
letter-spacing: 0.225em;
margin-bottom: 100px;
color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bem-vindo :nth-child(2){
font-family: 'Poppins', sans-serif;
font-style: italic;
font-weight: 300;
font-size: 96px;
line-height: 72px;
text-align: center;
letter-spacing: 0.225em;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Responsividade */
@media (min-width: 768px){
    .hamburger{
        display:none;
    }
    
    .menu{
        display: flex;

    }
}