:root{
    --hue_color: 250;
    --main_color:hsl(var(--hue_color),69%,61%);
    --main_color_lighter:hsl(var(--hue_color),98%,82%);
    --main_color_darker:hsl(var(--hue_color),40%,30%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:none;
}
.container{
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 25px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:99;
    background-color: black;
}

h1{
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
}
.hamburger{
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--main_color_darker);
    border-radius: 6px;
    z-index: 1;
    
    transform-origin: 0 0;
    
    transition: 0.4s;
}
.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--main_color_lighter);
}
.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
    opacity:-0;
    transform:translateX(15px)
}
.hamburger.is-active:hover span{
    background-color: var(--main_color);
}
.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin:0 -16px;
    padding: 10px;
}
.menu a{
    color:#FFF;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius:60px;
}

.menu a.is-active, .menu a:hover{
    background-color: var(--main_color_darker);
}

@media (min-width: 768px){
    .hamburger{
        display:none;
    }
    
    .menu{
        display: flex;

    }
}