@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --emphasis: #24c0eb;
    --primary: #082b34;
    --secundary: #07323d;
}

.primary {
    @apply bg-[var(--primary)]
};

.secundary {
    @apply bg-[var(--secundary)]
}

.emphasis {
    @apply text-[var(--emphasis)]
}